- name: Install PostgreSQL and deps
  apt:
    update_cache: true
    name:
      - postgresql
      - postgresql-contrib
      - python3-psycopg2
    state: present
  tags: [db]

- name: Ensure PostgreSQL is running
  service:
    name: postgresql
    state: started
    enabled: true
  tags: [db]

- name: Template postgresql.conf
  template:
    src: postgresql.conf.j2
    dest: "/etc/postgresql/{{ postgresql_version }}/main/postgresql.conf"
    owner: postgres
    group: postgres
    mode: "0644"
  notify: Restart PostgreSQL
  tags: [db]

- name: Template pg_hba.conf
  template:
    src: pg_hba.conf.j2
    dest: "/etc/postgresql/{{ postgresql_version }}/main/pg_hba.conf"
    owner: postgres
    group: postgres
    mode: "0640"
  notify: Restart PostgreSQL
  tags: [db]

- name: Ensure PostgreSQL cluster is initialized
  become: true
  shell: |
    pg_lsclusters | grep -q main || pg_createcluster 16 main --start
  args:
    executable: /bin/bash
  tags: [db]

- name: Create database
  become: true
  shell: "sudo -u postgres psql -c 'CREATE DATABASE {{ db_name }};'"
  args:
    creates: "/var/lib/pgsql/data/base/{{ db_name }}"


- name: Create DB user
  become: true
  shell: |
    sudo -u postgres psql -tc "SELECT 1 FROM pg_roles WHERE rolname='{{ db_user }}'" | grep -q 1 || \
    sudo -u postgres psql -c "CREATE USER {{ db_user }} WITH PASSWORD '{{ db_password }}';"
  args:
    executable: /bin/bash
  tags: [db]


- name: Grant schema privileges
  become: true
  shell: |
    sudo -u postgres psql -d {{ db_name }} -c "GRANT ALL PRIVILEGES ON SCHEMA public TO {{ db_user }};"
  args:
    executable: /bin/bash
  tags: [db]
