- name: Ensure app user exists
  user:
    name: "{{ app_user }}"
    create_home: no
    shell: /usr/sbin/nologin
  tags: [app]

- name: Create app directory
  file:
    path: "{{ app_dir }}"
    state: directory
    owner: "{{ app_user }}"
    group: "{{ app_user }}"
    mode: "0755"
  tags: [app]

- name: Checkout application repo
  git:
    repo: "{{ app_repo_url }}"
    dest: "{{ app_dir }}"
    version: "{{ app_checkout_ref }}"
    force: true
  tags: [app]

- name: Run Makefile to setup app on EC2
  command: make setup\ aws
  args:
    chdir: "{{ app_dir }}"
  tags: [app]
