- name: Ensure app user exists
  user:
    name: "{{ app_user }}"
    shell: /bin/bash
    create_home: yes

- name: Remove old app directory
  file:
    path: "{{ app_dir }}"
    state: absent
  become: true

- name: Create app directory
  file:
    path: "{{ app_dir }}"
    state: directory
    owner: "{{ app_user }}"
    group: "{{ app_user }}"
    mode: "0755"
  tags: [app]

- name: Add /opt/flask_user_manager as a safe git directory
  shell: git config --global --add safe.directory {{ app_dir }}
  args:
    executable: /bin/bash

- name: Ensure app dir ownership
  file:
    path: "{{ app_dir }}"
    state: directory
    owner: "{{ app_user }}"
    group: "{{ app_user }}"
    recurse: yes

- name: Remove existing app repo (if any)
  file:
    path: "{{ app_dir }}"
    state: absent
  become: true

- name: Checkout application repo
  git:
    repo: "{{ app_repo_url }}"
    dest: "{{ app_dir }}"
    version: "{{ app_checkout_ref }}"
    force: true
    update: yes

- name: Debug DB env variables
  debug:
    msg:
      - "DB_HOST={{ db_host }}"
      - "DB_PORT={{ db_port }}"
      - "DB_NAME={{ db_name }}"
      - "DB_USER={{ db_user }}"
      - "DB_PASSWORD={{ db_password }}"

- name: Run Makefile to setup app on EC2
  command: make setup_aws
  args:
    chdir: "{{ app_dir }}"
  environment:
    DB_HOST: "{{ db_host }}"
    DB_PORT: "{{ db_port }}"
    DB_NAME: "{{ db_name }}"
    DB_USER: "{{ db_user }}"
    DB_PASSWORD: "{{ db_password }}"
